<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Andika' rel='stylesheet'>

<style>
    .carousel-item{
    height: 400px;
} 
    .carousel-item img{
    height: 400px;
}

#example2 {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%
  
}

.fa:hover {
    opacity: 0.7;
    color: #b3b3b3;
}

.fa-facebook {
  color: #333333;
 }

.fa-twitter {
  color: #333333;
 
}

.fa-google {
  color: #333333;
 }

.fa-linkedin {
  color: #333333;
  
}

.fa-youtube {
  color:  #333333;
}

.fa-instagram {
  color: #333333 ;
  
}

.fa-pinterest {
  color: #333333;
}

.sidenav {
  height: 650px;
  width: 180px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  margin-top: 350px; 
  background-color: transparent;
  color: #262626;
  font-size: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #000000;
  display: block;
}

.sidenav a:hover {
  color: #000000;
}


.main {
  margin-left: 220px; /* Same as the width of the sidenav */
 
  padding: 0px 10px;
  margin-top: 40px;
}






@media screen and (max-width: 590px){

  .show-mobile {
        display: none;
  }

  .hide-mobile {
        display: block;
  }


  img#a {
    display: none;
  }

  body{
    text-align: center;
  }

  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}


}


</style>

    <title>Food Data</title>
</head>

<body>
   <!-- navbar starts here -->

    <nav class="navbar navbar-expand-lg navbar-light" 
    style="background-color: transparent;">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about_us">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Become a Contributer</a>
      </li>
      
      
    </ul>
    <div style="padding-right:50px; padding-top: 20px">
      <a href=""><button type="button" class="btn btn-dark">HOME</button></a>&nbsp &nbsp &nbsp

      <a href="/logout"><button type="button" class="btn btn-dark">LOG OUT</button></a>
      
      
    </div>
    
  </div>
</nav>

<!-- navbar ends here -->


  <form action="/food_data" method="POST">
   
  
<!-- header Starts -->
     
  <div class="d-lg-flex align-items-lg-center height-85vh--lg" style="background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #04619f 74%); height: 350px; width: auto;" >
        <div class="container space-2 space-0--lg mt-lg-8">
          <div class="row justify-content-lg-between align-items-lg-center">

            <div class="col-lg-5 mb-7 mb-lg-0">
              <!-- Title -->
              <span class="d-block  text-uppercase mb-2" style=" color: #66dbff">Join the change</span>
              <p style="color: #66dbff; font-family: 'Andika'; font-size: 32px">See the nearest Sweet Shop, Fast Food Center, Vegetable Shop and many more at one Click.</p>
              <!-- End Title -->
            </div>

            <div class="col-lg-5 mb-7 mb-lg-0">
              <!-- Title -->
              <img id="a" src="/static/Street Food-pana.svg" style="height: 362px">
              <!-- End Title -->
            </div>


          </div>
        </div>
      </div>

<!-- header Ends -->

<!-- Sidebar navigation -->

<div class="sidenav" style="padding-top: 80px;">
  <h3 style="text-align: center;"> Services </h3>
  <hr style="border-top: 2px solid #737373;">
  <div style="padding-left: 10px;">
  <ul class="list-group">
  

      <li class="lispace"><img src="/static/food4.png" style="width: 18px; height: 22px"><a href="/beauty_data">Beauty</a></li>
    

      <li class="lispace"><img src="/static/grocery-cart.png" style="width: 20px; height: 25px"><a href="/grocery_data">Grocery</a></li>
    
    
      <li class="lispace"><img src="/static/hotel4.png" style="width: 20px; height: 25px"><a href="/hotel_data">Hotel</a></li>
    

      <li class="lispace"><img src="/static/cardiogram.png" style="width: 20px; height: 25px"><a href="/medical_data">Medical</a></li>
    

      <li class="lispace"><img src="/static/place.png" style="width: 20px; height: 25px"><a href="/places_data">Places</a></li>
    

      <li class="lispace"><img src="/static/shopping-bag.png" style="width: 20px; height: 25px"><a href="/shopping_data">Shopping</a></li>
    

      <li class="lispace"><img src="/static/tools.png" style="width: 20px; height: 25px"><a href="/services_data">Services</a></li>


      <li class=""><img src="/static/book.png" style="width: 20px; height: 25px"><a href="/education_data">Education</a></li>
    

      <li class="lispace"><img src="/static/law2.png" style="width: 20px; height: 25px"><a href="/law_data">Law</a></li>

    

      
    </ul>
    
  </div>
  
</div>

<!--/. Sidebar navigation -->

<br>
<br>
<br>




<div class="container">
  
<div class="alert alert-success alert-dismissible fade show" role="alert">
 <center><h5>You have selected the Location <strong>{{locality}}</strong></h5></center>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


  <br>
  <br>
  <br>
<h3 style="text-align: center;">
  
</h3>


<hr style="border-top: 1px solid black">


{% for food in food %}

  <div class="card mb-3" style="max-width: 100%; border-width: 0px">
  <div class="row no-gutters">
    <div class="col-md-4" align="ma">
      <img src="static/Uploaded/{{food.st_id}}" width="256px" height="256px" id="image"  class="card-img object-contain h-48 w-full " alt="No Image Available"> 
    </div>
    <div class="col-md-8" style="">
      <div class="card-body" style="color: black">
        <h5 class="card-title">{{food.st_name}}</h5>
        <p class="card-text">{{food.description}}</p>
        <p class="card-text"><small class=""> <svg width="2em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        </svg>&nbsp<b>{{food.street_name}} &#44 &nbsp {{food.place}}</b></small></p>
        <p class="card-text">
          <small class="">
            <svg width="2em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"/>
            </svg> &nbsp<b>{{food.phone}}</b>
          </small>
        </p>
        <p class="card-text"><small class=""><b>Locality: </b>{{food.locality}}</small></p>
        <p class="card-text"><small> <b>Opening Time : </b>{{food.opening}}</small></p>
        <p class="card-text"><small><b>Closing Time :</b> {{food.closing}}</small></p>
      </div>
    </div>
  </div>
</div>
<hr style="border-top: 1px solid black">
{% endfor %}
 

<div class="row mr-5 container" style="margin-left: 140px;">
      <div class="col-lg-4">
        <img src="static/services_2.png" width="100" height="100">
        <h2>Quick Services</h2>
        <p></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <img src="static/money.png" width="100" height="100">
        <h2>Less Expenditure</h2>
        <p></p>       
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
       <img src="static/search.png" width="100" height="100">
        <h2>Easy Search</h2>
        <p></p>
       </div><!-- /.col-lg-4 -->
    </div>
  </div>




<!-- Footer -->
<footer class="page-footer font-small  pt-4" style="background-color: #00bfb2;
background-image: linear-gradient(315deg, #00bfb2 0%, #028090 74%);">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto"  style="color: #333333">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">why searchdisk</h5>
        <p>Here you can get any type of information at one click with the easiest way, just select your location and catch whatever information you want .</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto" style="color: #333333">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled" >
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto" style="color: #333333">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" style="color: #333333">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled" style="color: #333333">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  
  <!-- Social buttons -->

  <ul class="list-unstyled list-inline text-center">
    <h4 style="color: #333333">Connect with Us</h4>
    <li class="list-inline-item">
      <a href="#" class="fa fa-facebook"></a>
    </li>
    <li class="list-inline-item">
      <a href="#" class="fa fa-twitter"></a>
    </li>
    <li class="list-inline-item">
      <a href="#" class="fa fa-google"></a>
    </li>
    <li class="list-inline-item">
      <a href="#" class="fa fa-linkedin"></a>
    </li>
    <li class="list-inline-item">
      <a href="#" class="fa fa-youtube"></a>
    </li>
    <li class="list-inline-item">
      <a href="#" class="fa fa-instagram"></a>
    </li>
    <li class="list-inline-item">
      <a href="#" class="fa fa-pinterest"></a>
    </li>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/" style="color: #333333"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->










    
  </form>



  
  
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
 




    
  </body>
</html>