<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>table design</title>
</head>



<body>
<table class="table table-borderless" style="width: 21%">
  
  <tbody>

    <tr>
      <td><label for="uname">Full Name </label></td>
      <td><input type="text" placeholder="Enter Mobile No...." name="uname" required></td>
    </tr>

    <tr>
      <td><label for="psw">Gender : </label></td>
      <td><select id = "gender" style="background-color: transparent" name="gender">
                <option value="default">Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="others">Others</option>
                </select>
       </td>
    </tr>

    <tr>
      <td><label for="uname">Birth Date : </label</td>
      <td><input type="Date" placeholder="Enter Mobile No...." name="uname" required></td>
    </tr>

    <tr>
      <td><label for="psw">Address : </label></td>
      <td><input type="password" placeholder="Enter Password...." name="psw" required></td>
    </tr>

    <tr>
      <td><label for="psw">Email : </label></td>
      <td><input type="text" placeholder="Enter Mobile No...." name="uname" required></td>
    </tr>

    <tr>
      <td><label for="psw">Mobile : </label></td>
      <td><input type="password" placeholder="Enter Password...." name="psw" required></td>
    </tr>

     <tr>
      <td><label for="psw">Password : </label></td>
      <td><input type="password" placeholder="Enter Password...." name="psw" required></td>
    </tr>
  
  
  </tbody>
</table>
</body>
</html>